html{
    display:flex;
    justify-content:center;
}

table { margin: 1em; border-collapse: collapse; }
th, td { padding: .3em; border: 1px #ccc solid; }
th { background-color: #953B39 }
tr:nth-child(even) {background: #def;}
tr:nth-child(odd) {background: #fff;}

.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 12px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
input.rounded:focus {
	border: 4px solid;
	border-color: #FF0000;
}
